<h2><%= current_user.username %>'s Goals</h2>

<% current_user.goals.each do | goal | %>
<%= link_to "#{goal.title}", goal_url(goal.id), method: :get%> 
<br>
<% end %> 

<% Goal.all.each do | goal | %>
<% if goal.user_id != current_user.id && goal.private == false %>
<%= goal.title %>
<% end %> 
<br>
<% end %> 

<%= button_to "Create Goal", new_user_goal_url(current_user), method: :get%>
<%= button_to "Sign Out", session_url, method: :delete %>
